<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbt.community_stu.dao.QuestionDao">

    <insert id="createQuestion" parameterType="Question">
        insert into question
            (title,description,creator,comment_count,view_count,like_count,tag,gmt_create,gmt_modified)
            values
            (#{title},#{description},#{creator},#{commentCount},#{viewCount},#{likeCount},#{tag},
            #{gmtCreate},#{gmtModified})
    </insert>
    <select id="list" resultMap="questionMap">
        select * from question limit #{page},#{size}
    </select>

    <select id="count" resultType="Integer">
        select count(1) from question
    </select>

    <resultMap id="questionMap" type="Question">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="creator" property="creator"/>
        <result column="comment_count" property="commentCount"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="tag" property="tag"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

</mapper>