<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbt.community_stu.dao.UserDao">

    <insert id="insert" parameterType="User">
        insert into user
        (name,account_id,token,gmt_create,gmt_modified,avatar_url)
        values
        (#{name},#{accountId},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl})
    </insert>
    <select id="findUserByToken" parameterType="String" resultMap="userMap" >
        select * from user where token = #{token}
    </select>

    <select id="findUserById" parameterType="Integer" resultMap="userMap">
        select * from user where id=#{creator}
    </select>

    <resultMap id="userMap" type="User">
        <id column="id" property="id"/>
        <result column="account_id"  property="accountId" />
        <result column="name"  property="name" />
        <result column="token" property="token" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="bio" property="bio" />
        <result column="avatar_url" property="avatarUrl" />
    </resultMap>

</mapper>