body {
    background-color: #efefef;
}
.media a {
    text-decoration: none;
}
.main {
    margin: 30px;
    background-color: #fff !important;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.img-size {
    width: 38px !important;
    height: 38px !important;
}
.desc-text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.h2-font {
    font-size: 20px;
}

.icon-pr {
    padding-right: 8px;
}

.profile .section {
    margin-top: 15px;
}
.text-color {
    font-size: 12px;
    color: #999;
    text-decoration: none;
}